<div class="columns">
    <div class="col-1">
        <h2><%= col1headline %></h2>
        <p><%= col1paragraph %></p>
        <ul>
            <li><%= col1listitem1 %></li>
            <li><%= col1listitem2 %></li>
            <li><%= col1listitem3 %></li>
            <li><%= col1listitem4 %></li>
        </ul>
    </div>
    <div class="col-2">
        <h2><%= col2headline %></h2>
        <p><%= col2paragraph %></p>
    </div>
</div>