<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/subpages.css">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <div class="<%= containerClass %>">
            <%- include('../partials/sidebarmenu.ejs') %>
            <%- include('../partials/intropage.ejs') %>

            <% if (locals.designer) { %>
                <div class="designerclass">
                    <h2><%= designer.name %></h2>
                    <h4>Born: <%= designer.born %></h4>
                    <h4>Dead: <%= designer.dead %></h4>
                    <div>
                        <p><%= designer.description %></p>
                    </div>
                </div>
            <% } %>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>