<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/subpages.css">
    <title><%= title %></title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <div class="<%= containerClass %>">
            <%- include('../partials/sidebarmenu.ejs') %>
            <%- include('../partials/intropage.ejs') %>

            <% if (locals.typeface) { %>
                <div class="designerclass">
                    <h2><%= typeface.name %></h2>
                    <h4>Designed by: <%= typeface.creator %> </h4>
                    <h4>Classification: <%= typeface.classification %> </h4>
                    <div>
                        <p><%= typeface.description %></p>
                    </div>
                </div>
            <% } %>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>